<%= link_to 'トップページへ戻る',root_path %>
<h2>詳細ページ</h2>

<%= @quiz.quiz_name %>
<ul>
  <li>投稿者:<%= @quiz.user.nickname %>さん</li>
  <li>ジャンル:<%= @quiz.quiz_category.date %></li>
  <li>難易度:<%= @quiz.quiz_level.date %></li>
  <li>問題文<br><%= @quiz.quiz_text%></li>
  <details>
  <summary>答えはコチラをクリック</summary>
  <li>解答<br><%= @quiz.quiz_answer%></li>
  <% if @quiz.quiz_sample.present? %>
    <li>解説・例文・使用例<br><%= @quiz.quiz_sample%></li>
  <% end %>
  </details>
</ul>

<% if user_signed_in? && current_user.id == @quiz.user_id%>
  <%= link_to '編集',edit_quiz_path(@quiz.id)%>
  <details>
    <summary>削除はこちらをクリック</summary>
      <p>本当に削除しますか？<%= link_to "YES",quiz_path(@quiz.id), method: :delete %></p>
  </details>
<% end %>
<div>
  <h6>いいね！ <%= %> 合ってる？ <%= %><h6>
  
</div>
<div>
  <h3>コメント</h3>
  <div class="comment-list">
    <% @comments.each do |comment| %>
    <p><%= comment.comment%><span>(投稿者:<%= comment.user.nickname%>さん)</span>
    <% if comment.user.id == current_user.id %>
      <%= link_to "削除",quiz_comment_path(@quiz.id,comment.id), method: :delete %>
    <% end %>
      <a href="#" >　通報(機能未実装)</a>
    </p>
    <% end %>
  </div>
</div>

<div class="comment-box">
  <%= flash[:notice] %>
    <%= form_with model: @comment, url:quiz_comments_path(@quiz.id), local: true do |f| %>
      <%= f.text_area :comment, class:"comment-text" %>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
      </p>
      <button type="submit" class="comment-btn">
        <span>コメントする<span>
      </button>
    <% end %>
  </div>