<!DOCTYPE html>
<html>
  <head>
    <title>Timerquiz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <div class = "header-left">
    <ul>
        <li class="top"><%= link_to 'TimerQuiz',root_path%></li>
        <li><%= link_to '利用ガイド',guide_homes_path%></li>
        <li><%= link_to '利用規約',terms_homes_path%></li>
        <li><%= link_to '開発記録',record_homes_path%></li>
    </ul>
  </div>
  <div class = header-right>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "#{current_user.nickname}さん", edit_user_registration_path, class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
  </header>
    <%= yield %>
  </body>
</html>
